{% extends 'base.html.twig' %}

{% block body %}
<h1>Édition de {{ contact.lastname }},{{ contact.firstname }}</h1>
{% endblock %}

{% block title %}
    Édition de {{ contact.lastname }},{{ contact.firstname }}
{% endblock %}

